<section class="container">
  <form class="formulario" (ngSubmit)="transferir()">
    <h2 class="formulario__titulo">Nova Transferência</h2>

    <div class="form-field">
      <label class="form-field__label" for="valor">Valor</label>
      <input
        name="valor"
        class="form-field__input"
        type="number"
        [(ngModel)]="valor"
        autocomplete="off"
      />
    </div>

    <div class="form-field">
      <label class="form-field__label" for="destino">Destino</label>
      <input
        name="destino"
        class="form-field__input"
        type="text"
        [(ngModel)]="destino"
        autocomplete="off"
      />
    </div>

    <div class="botao-wrapper">
      <button class="botao">Transferir</button>
    </div>
  </form>
</section>
